
<div class="container">
    
<form [formGroup]="crearEmpleado" (ngSubmit)="agregarEditarEmpleado()">
    <h1>{{ titulo }}</h1>
    <span *ngIf="submitted && crearEmpleado.invalid" style="color: red;">*TODOS LOS CAMPOS SON OBLIGATORIOS*</span>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input formControlName="nombre"
        type="text" class="form-control" id="name" placeholder="Ingrese el Nombre">
    </div>

    <div class="form-group">
        <label for="lastname">Apellido</label>
        <input formControlName="apellido" 
        type="text" class="form-control" id="name" placeholder="Ingrese el Apellido">
    </div>

    <div class="form-group">
        <label for="identification">Cedula</label>
        <input formControlName="cedula"  
        class="form-control" id="name" placeholder="Ingrese la Cedula" mask="000-0000000-0">
    </div>

    <div class="form-group">
        <label for="ocupation">Puesto</label>
        <input formControlName="puesto"  
        type="text" class="form-control" id="name" placeholder="Ingrese el Puesto">
    </div>

    <div class="form-group">
        <label for="departament">Departamento</label>
        <input formControlName="departamento"  
        type="text" class="form-control" id="name" placeholder="Ingrese el Departamento">
    </div>

    <div class="form-group">
        <label for="name">Salario</label>
        <input formControlName="salario"  
        type="number" class="form-control" id="name" placeholder="Ingrese el Salario">
    </div>

    <!-- <div class="form-group">
        <label for="dateCreate">Fecha de Creación</label>
        <input formControlName="fecha"  
         class="form-control" id="name" placeholder="Ingrese la Fecha" mask="00/00/0000">
    </div> -->

    <button type="submit" class="btn btn-primary btnSave mb-2 me-1">{{botonTitulo}}</button>
    <button class="btn btn-primary btnSave mb-2" routerLink="/home">Volver</button>
  </form>
</div>
