<div class="container">

<form>
    <h1>Nuevo Empleado</h1>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese el Nombre">
    </div>

    <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese el Apellido">
    </div>

    <div class="form-group">
        <label for="identification">Cedula</label>
        <input class="form-control" id="name" placeholder="Ingrese la Cedula" mask="000-0000000-0">
    </div>

    <div class="form-group">
        <label for="ocupation">Puesto</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese el Puesto">
    </div>

    <div class="form-group">
        <label for="departament">Departamento</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese el Departamento">
    </div>

    <div class="form-group">
        <label for="name">Salario</label>
        <input type="Salay" class="form-control" id="name" placeholder="Ingrese el Salario">
    </div>

    <div class="form-group">
        <label for="dateCreate">Fecha de Creación</label>
        <input type="date" class="form-control" id="name" placeholder="Ingrese la Fecha">
    </div>

    <button type="submit" class="btn btn-primary btnSave">Guardar</button>
  </form>
</div>
